body{
    font-family: 'Roboto', sans-serif;

}
#head{
    position: relative;
    height: 300px;
}
#MyImag img{
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 20px;
}
#MyName h2{
    color:#2C84B9;
    position: relative;
    bottom: 270px;
    left: 300px;
    font-size: 40px;
}
#Location p{
    position: relative;
    bottom: 290px;
    left: 410px;
}
.bi-geo-alt-fill{
    position: relative;
    bottom: 323px;
    left: 390px;
}
#myinfo{
    position: relative;
    bottom: 323px;
    left: 690px;
}
.bi-telephone-fill{
    position: relative;
    bottom: 10px;
    left: -27px;
}
.bi-envelope-fill{
    position: relative;
    bottom: 10px;
    left: -27px;
}
.bi-linkedin{
    position: relative;
    bottom: 10px;
    left: -27px;
}
#myinfo p{
    margin: -10px;
}
#flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}
h3{
    color:#2C84B9;
}
.allbox{
    width: 30%;
}
span{
    font-weight: bold;
}
pre{
    font-family: 'Roboto', sans-serif;

}