body{
    width: 70vw;
    margin: 10vh auto;
}
#Cvhead{
    display: flex;
    justify-content:space-between;
}
img{
    width: 150px;
    height: 150px;
}
h2{
    color: #2C84B9;
}
.pinfo{
    margin-bottom:-20px ;
    font-size: 17px;
}
#cvname p{
    position: relative;
    left: 20px;
}
.flexbox{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.H1{
    width: 50%;
}
#hr1{
    width: 9%;
    margin-left: 0px
}
#hr2{
    width: 70%;
    margin: -11px 1px 10px 5px;
}
pre{
    font-family: Roboto, sans-serif;
    text-align: justify;
}
@media only screen and (max-width: 930px){
    #Cvhead{
        flex-direction: column;
        align-items: center;
        }
        #hr12{
            margin: inherit;
        }
        #hr2 {
            width: 90%;
            margin: -11px 1px 10px 5px;
        }

}
@media only screen and (max-width: 885px){
    .flexbox {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .H1 {
        width: 50%;
        margin: auto;
    }
    #hr2 {
        width: 100%;
        margin: -11px 1px 10px 5px;
    }

}
